<h1>New Leaderboard Team</h1>

<%= render 'form', leaderboard: @leaderboard %>
</br>
<div class="myinput">

  <%= link_to "<button style='color:black'>Leaderboards</button>".html_safe, "/leaderboards" %>
</br></br>

<%= link_to "<button style='color:black'>Create New Bracket</button>".html_safe, "/brackets/new" %>


</div>