<h1>New Bracket</h1>

<%= render 'form', bracket: @bracket %>

</br>
</br>

<%= link_to "<button style='color:black'>Create New Team</button>".html_safe, "/leaderboards/new" %>
</br>
</br>


<%= link_to "<button style='color:black'>Back to Brackets</button>".html_safe, brackets_path %>
