<body>
    
    <h1 style="text-align: center">SCUFF SERIES - BETA</h1>
    
    <h3 style="text-align: center">We are running and casting 2v2 Tournaments LIVE a few times throughout the week.</br>
    The tournaments will be held on XB1/PC/SWITCH and may be seperated into skill levels in the future.</br></br>
    
    We are also toying around with the idea of League play with regulars from our Tournaments.</br></br>
    
    
    Entry is first come first serve! Come get YOUR Rocket League games by casted by some nobody, me, dheg!</br></br>
    
    
    </br>
    <a href="https://twitch.tv/dheg/events" target="_blank">Click here to set a reminder!</a> </br>
    
    
    </br>
    <a href="https://twitter.com/scuffesports" target="_blank">Follow Scuff eSports on Twitter for updates!</a> </br>
    
    </br>
    <a href="https://twitter.com/dheg_twitch" target="_blank">Follow dheg on Twitter for more details and events!</a> </br>
    </h3>
    
    
    
    <h1 style="text-align: center">ARE YOU SCUFF ENUFF?</h1>

</body>
