<body>
    
    <h1 style="text-align: center">SCUFF SERIES</h1>
    
    <h3 style="text-align: center">We're running 2v2 Tournaments on the weekends after RLRS/RLCS. I'm casting XB1/PC/SWITCH tournaments which will be seperated into 2 skill levels, 
    Unranked->Plat3 and Dia1->GC. </br></br>
    
    Entry is first come first serve! Come get YOUR Rocket League games by casted by some nobody, me, Dheg!</br></br>
    
    <a href="https://twitch.tv/dheg/events" target="_blank">Click here to set a reminder!</a> </br>
    </h3>
    
    <h1 style="text-align: center">ARE YOU SCUFF ENUFF?</h1>

</body>