<body>
    
    <h1 style="text-align: center">Scuff Series Tournaments - BETA <h1>
    
    <h3 style="text-align: center">We are running and casting Rocket League Tournaments LIVE three times a week </br>(Sun, Wed, Fri)</br></br>
    
    The tournaments will be held on XB1/PC/SWITCH and will be separated into skill levels in the future.</br></br>
    
    
    Entry is first come first serve! Come get YOUR Rocket League games by cast by some nobody, me, dheg!</br></br>
    
    
    </br>
    <a href="https://www.twitch.tv/dheg/events" target="_blank">Click here to set a reminder!</a> </br>
    
    
    </br>
    <a href="https://twitter.com/dheg_twitch" target="_blank">Follow dheg on Twitter for more details and events!</a> </br>
    </h3>
    
    </br>
    
    <h1 style="text-align: center">ARE YOU SCUFF ENUFF?</h1>

</body>
