<body>
    
    <h1 style="text-align: center">SCUFF SERIES - BETA</h1>
    
    <h3 style="text-align: center">We're running and casting 2v2 Tournaments a few times throughout the week.
    I'm casting XB1/PC/SWITCH tournaments which will be seperated into skill levels once the Tournament mode allows for nonbuggy use of it.</br></br>
    
    We are also toying around with the idea of League play with regulars from our Tournaments.</br></br>
    
    
    Entry is first come first serve! Come get YOUR Rocket League games by casted by some nobody, me, Dheg!</br></br>
    
    
    </br>
    <a href="https://twitch.tv/dheg/events" target="_blank">Click here to set a reminder!</a> </br>
    
    </br>
    <a href="https://twitter.com/dheg_twitch" target="_blank">Follow on Twitter for more details and events!</a> </br>
    </h3>
    
    
    
    <h1 style="text-align: center">ARE YOU SCUFF ENUFF?</h1>

</body>