<body>
    <div style="text-align: center">
    <h1 >Scuff Series Tournaments </br> </h1><h3> 2v2s on XB1/PC/Switch</h3>
    </div>
</br>

    <h3>Tournaments are run weekly throughout the month. Points are rewarded and tallied at the end of each Tournament.</h3>


    <p>
      1)  Champions are Rewarded 15 Points per tourney.
    </br>
      2)  Runner-Ups are Rewarded 10 Points per tourney.
      </br>
      3)  Semi-Finalists are Rewarded 7 Points per tourney.
      </br>
    </p>
The top 16 teams before the final Sunday/Wednesday/Friday of the month will be QUALIFIED for a FINAL PRIVATE TOURNEY NIGHT (3 rounds) and have a chance to be the:
    <h3>Scuff Series 2v2 Sunday/Wednesday/Friday Champs</h3>
    </br>
      Good Luck!
    </br></br>

      Point Leaderboard available here: <a href="https://scuffesports.com/leaderboards">Leaderboards</a>
    </br>
    </br>


      Any attempt to game the system will result in a disqualification. Any team names or behavior against Rocket League, Twitch, or Scuff eSports TOS will not be eligible to compete.

    </br></br>
<div style="text-align: center">
    </br>
    <a href="https://www.twitch.tv/dheg/events" target="_blank">Click here to set a reminder!</a> </br>
    
    
    </br>
    <a href="https://twitter.com/dheg_twitch" target="_blank">Follow dheg on Twitter for more details and events!</a> </br>
    </h3>
    
    </br>
    
    <h1 style="text-align: center">ARE YOU SCUFF ENUFF?</h1>
</div>
</body>
