</br>
<div style="text-align: center">
  <h1>Scuff Series Tournament Rules </br> </h1>
</div>
</br>

<ul>

  <li>Tournaments are held utilizing the in-game Tournament mode provided by Psyonix. Registration is limited to
    Xbox/PC/Switch.
  </li>

  <li>Each day of Tournaments (Sun,Wed,Fri) has its own individual leaderboard. Leaderboards available
    <a href="/leaderboards" target="_blank"> here.</a></li>

  <li>Teams can earn points by using a consistent Team Name and participating in our weekly public Tournaments. Schedule
    available <a href="https:/twitch.tv/dheg/events" target="_blank"> here.</a></li>


  <li>Points are distributed shortly after the conclusion of each Tournament.
  </li>

  <li>Leaderboards are cleared after the Monthly Championships are held for that day.
  </li>

  </br>
  <li>Point distribution as follows:
    <ol>
      <li>Champions are Rewarded 15 Points per tourney.</li>

      <li>Runner-Ups are Rewarded 10 Points per tourney.</li>

      <li>Semi-Finalists are Rewarded 7 Points per tourney.</li>
      </li>
    </ol>
  </li>


  </br>

  <li>The top 16 teams on the Wednesday Leaderboards before the Wednesday Championship of that month will be qualified
    to compete in the <b>private</b> Wednesday Championship.
  </li>

  <li>The top 16 teams on the Friday Leaderboards before the Friday Championship of that month will be qualified to
    compete in the <b>private</b> Friday Championship.
  </li>

  <li>The top 16 teams on the Sunday Leaderboards before the Sunday Championship of that month will be qualified to
    compete in the <b>private</b> Sunday Championship.
  </li>

  </br>

  <li>One representative per qualified team must communicate via <a href="https://discordapp.com/invite/qxjmwjg" target="_blank"> Discord </a> their team name in order to retrieve private
    tournament information.
  </li>

  </br>

  <li>Private Monthly Championship is run as follows:
    <ul>

      <li>3 Tournaments of (up to) 16 teams will be held.</li>
      <li>Point distribution is the same as above.</li>
      <li>The team with the most points at the end of the (3rd) final tournament is crowned the winner.</li>
      <li>In the case of a tie, a best-of-3 private match will be held to determine the winner.</li>
      <li>Matcherino funds will be dispersed to each player on the winning team shortly after tournament conclusion.
      </li>
    </ul>


  </li>
  </br>

  <li> Any team names or behavior against <a href="https://www.rocketleague.com/tou/" target="_blank"> Rocket
    League TOS</a>, <a href="https://www.twitch.tv/p/legal/terms-of-service/" target="_blank">Twitch TOS</a>,
    <a href="https://matcherino.com/terms/" target="_blank">Matchino TOS</a>, or
    <a href="/tos.txt" target="_blank"> Scuff eSports TOS</a> will not be eligible to compete.
  </li>
  <li>Any attempt to game the system may result in a disqualification. Respect my Authoritye.
  </li>
  <li>
    Please feel free to report any persons or teams
    violating any above the above rules to
    <a href="mailto:dheg@scuffesports.com" target="_blank">dheg@scuffesports.com </a></li>


</ul>

</br></br>

</div>